body {
    font-size: 1em;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 0.15em;
    background-color: #efefef;
}
#page {
    max-width: 70%;
    min-width: 40%;
    margin: 10px auto 10px auto;
    padding: 20px;
    border: 4px double #000;
    background-color: #F5DEB3;
}
#logo {
    width: 60%;
    margin: 10px auto 25px auto;
    text-align: center;
}
h1 {
    text-align: center;
}
h2.kristofferh , h3.kristofferh {
    text-align: center;
}
ul.linje {

    width: 60%;
    padding: 15px;
    margin: 0px auto 0px auto;
    
    border-bottom: 1px solid #000;
    text-align: center;
}
ul.linje1 {
    width: 60%;
    padding: 15px;
    margin: 0px auto 0px auto;
    text-align: center;
}

li.inline {
    display: inline;
    margin: 0px 3px
}

p {
    text-align: left;
    width: 60%;
    margin: 20px auto 20px auto;
    font-weight: normal;
}
p.center {
    text-align: center;
    width: 60%;
    margin: 20px auto 20px auto;
    font-weight: lighter
}
a.farge {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 18px 5px 18px;
    text-align: left
}
a.farge:hover {
    color: #cc3333;
    background-color: #efefef;
}
a.on {
    color: #cc3333;
    background-color: #efefef;
}
a {
    color:indianred;
}


table {
    text-align: center;
    margin: 10px auto 25px auto;
    padding: 6px 18px 5px 18px;
}
th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    text-align:left
}
th, td {
    padding: 5px;
}

img {    
    width:100%;
    margin: 10px auto 25px auto;
}
img.align-left {
    float:left;
    margin-left: 0px;
    margin-right:20px;
    margin-top: 0px;
    width: 255px;
    height: 319px;
}
img.medium {
    width: 200px;
    height: 264px;
}
p.space {
     margin-bottom:30em;
}
p.space1 {
    margin-bottom:5em;
}
img.spacebilde { 
    margin-bottom:5em;
}
img.kristoffer {

}