body {
    font-size: 80%;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 0.15em;
    background-color: #efefef;
}
#page {
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    padding: 20px;
    border: 4px double #000;
    background-color: #F5DEB3;
}
#logo {
    width: 540px;
    margin: 10px auto 25px auto;
}
h1 {
    text-align: center
}
#ulul {
    width: 570px;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
}
#lili {
    display: inline;
    margin: 0px 3px
}
p {
    text-align: left;
    width: 600px;
    margin: 20px auto 20px auto;
    font-weight: normal;
}
a {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 18px 5px 18px;
    text-align: left
}
a:hover, a.on {
    color: #cc3333;
    background-color: #efefef;
}
table {
    text-align: center;
    margin: 10px auto 25px auto;
    padding: 6px 18px 5px 18px;
}
th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    text-align:left
}
th, td {
    padding: 5px;
}

img {
    
    width:560px;
    margin: 10px auto 25px auto;
}
#space {
     margin-bottom:30em
}
#spacebilde { 
    margin-bottom:5em
}